<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-12 col-md-9">
            <ul class="d-flex justify-content-between">
                <li class="step step-active flex-column flex-md-row">
                    <span class="step-index">1</span>
                    <span class="step-name d-block mt-2 mt-md-0">{{ 'Panier'|trans }}</span>
                </li>
                <li class="step flex-column flex-md-row">
                    <span class="step-index">2</span>
                    <span class="step-name d-md-block mt-2 mt-md-0">{{ 'Coordonnées'|trans }}</span>
                </li>
                <li class="step flex-column flex-md-row">
                    <span class="step-index">3</span>
                    <span class="step-name d-md-block mt-2 mt-md-0">{{ 'Paiement'|trans }}</span>
                </li>
                <li class="step flex-column flex-md-row">
                    <span class="step-index">4</span>
                    <span class="step-name d-md-block mt-2 mt-md-0">{{ 'Validation'|trans }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>